{% extends 'base.html.twig' %}

{% block title %}Edit Survey{% endblock %}

{% block body %}
    <h1 class="text-primary">Edit Survey</h1>
    {{ include('survey/_form.html.twig', {'button_label': 'Save'}) }}
{% endblock %}