{% extends 'base.html.twig' %}

{% block title %}New Survey{% endblock %}

{% block body %}
    <h1 class="text-primary">Create new Survey</h1>
    {{ include('survey/_form.html.twig') }}
{% endblock %}