{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="text-primary">Edit Panelist</h1>
    <hr>
    {{ include('user/_form.html.twig', {'button_label': 'Save'}) }}
{% endblock %}
