{% extends 'base.html.twig' %}

{% block title %}New Panelist{% endblock %}

{% block body %}
    <h1 class="text-primary">Create new panelist</h1>
    {{ include('user/_form.html.twig') }}
{% endblock %}
